<div class="container-fluid" style="padding: 10px;overflow-x: hidden">

  <div class="row">

    <div class="col-12 d-flex justify-content-center align-items-center" style="padding: 2rem">

      <div
        class="d-flex  flex-column w-100 d-block d-lg-none"
        style="border: 1rem #7CABD0 double; padding: 3rem; height: 70vh"
      >

        <h3
          style="margin-bottom: 2rem; align-self: flex-start"
        >
          {{ message?.subject }}
        </h3>

        <h5
          style="
          border: solid 1px #7CABD0;
          padding: 2rem;
          background-color: #7CABD0;
          text-align: left;
          height: 80%;
          border-radius: 10px;
"
        >
          {{ message?.content }}
        </h5>

      </div>

      <div
        class="d-flex  flex-column w-50 d-none d-lg-block"
        style="border: 1rem #7CABD0 double; padding: 3rem; height: 70vh"
      >

        <h3
          style="margin-bottom: 2rem; align-self: flex-start"
        >
          {{ message?.subject }}
        </h3>

        <h5
          style="
          border: solid 1px #7CABD0;
          padding: 2rem;
          background-color: #7CABD0;
          text-align: left;
          height: 80%;
          border-radius: 10px;
"
        >
          {{ message?.content }}
        </h5>

      </div>

    </div>

  </div>

</div>
